#--------------------------------------------------
# protège le fichier .hatccess
#--------------------------------------------------
<files .htaccess>
order allow,deny
deny from all
</files>

#--------------------------------------------------
# Répertoire : /subwayRecrutement/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

ErrorDocument 404 http://localhost/subwayRecrutement

#--------------------------------------------------
# Règles de réécriture d'URL : Subway
#--------------------------------------------------


RewriteRule ^$ index.php?action=accueil
RewriteRule ^recrutement$ index.php?action=recrutement
RewriteRule ^recrutement-([0-9]+) $index.php?action=recrutement&restaurant=$1