html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    background: rgba(64, 62, 55, 1);
}

#page {
    max-width: 1500px;
    margin: auto;
    background-color: #fff0c4;
    border: 1px solid black;
}


/* Section 1 : Présentation */

a[href="recrutement"] {
    width: 95%;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#conteneurRecrutement:hover {

    border: 2px solid DarkGray;
}


#conteneurRecrutement {
    background-color: #e6d8ae;
    text-align: center;
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 0;
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid grey;

}

#conteneurRecrutement h2 {
    margin: 0 0 10px 0;
    text-shadow: 2px 2px 4px #f1bf11;
    color: #0f8c4e;
    font-size: 250%;
    height: 50px;
}


#imagesPresentation {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

img[src*="salade"] {
    border-radius: 5px;
    width: 300px;
    height: 225px;

}

img[src*="presentation"] {
    border-radius: 50px;
    width: 400px;
    height: 225px;
    border: 1px solid DarkSlateGray;

}

img[src*="sandwich"] {
    height: 163px;
    width: 310px;
    margin-top: 42.5px;
}

#conteneurRecrutement h3 {
    margin: 0px;
    color: #0f8c4e;
    font-size: 200%;
}

#imagesPresentation img[src*="sandwich"] + h3 {
    position: relative;
    top: 21px;
}

@media screen and (max-width: 1100px) {

    #imagesPresentation div:nth-child(1),
    #imagesPresentation div:nth-child(3) {
        display: none;
    }

    #conteneurRecrutement {
        font-size: 100%;
        width: 550px;
    }

}

@media screen and (max-width: 610px) {
    img[src*="presentation"] {
        display: none;
    }
    #conteneurRecrutement {
        border-radius: 20px;
        height: 100%;
        width: 90%;
    }
    #conteneurRecrutement h2 {
        margin: auto;
        margin-top: 10px;
        font-size: 220%
    }
}

@media screen and (max-width: 450px) {

    #conteneurRecrutement {
        padding: 0;
    }
    #conteneurRecrutement h2 {
        margin-top: 10px;
        font-size: 200%
    }
}

@media screen and (max-width: 375px) {

    #conteneurRecrutement h2 {
        font-size: 170%
    }
}

@media screen and (max-width: 320px) {

    #conteneurRecrutement h2 {
        margin-top: 15px;
        font-size: 140%
    }
}

/* Section 2 : Pour QUI ? et votre mission */

#jobInformations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    font-size: 135%;
}

.articlePourQui {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f8c4e;
    border: 5px solid #f1bf11;
    color: white;
    height: 500px;
    width: 400px;
}

.articlePourQui h2 {
    color: #f1bf11;
    font-size: 225%;
    margin: 5px;

}


.articlePourQui div {
    font-size: 115%;
    height: 50%;
}

.articlePourQui strong {
    color: #f1bf11;
}

.articlePourQui div + p {
    font-weight: bold;
    font-size: 122.5%;

}

.articleVotreMission {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f1bf11;
    border: 5px solid #0f8c4e;
    color: #0f8c4e;
    height: 100%;
    width: 800px;
}

.articleVotreMission p {
    font-weight: bold;
}

.articleVotreMission h2 {
    font-size: 225%;
    margin: 5px;
}

.articleVotreMission ul {
    text-align: left;
    color: white;
    width: 310px;
    margin: auto;
}

@media screen and (max-width: 1236px) {

    .articlePourQui {
        height: 100%;
    }
    .articleVotreMission {
        height: 100%;
    }
}

@media screen and (max-width: 500px) {

    #jobInformations {
        font-size: 115%;
    }
}


@media screen and (max-width: 375px) {

    #jobInformations {
        font-size: 125%;
    }

    .articlePourQui,
    .articleVotreMission {
        height: 100%;
    }

    #jobInformations h2 {
        font-size: 165%;
    }
    .articleVotreMission ul {
        width: 85%;
    }

}

@media screen and (max-width: 300px) {

    #jobInformations {
        font-size: 120%;
    }
    .articleVotreMission {
        min-width: 250px;
    }
}

/* Section 3 : Les restaurants */

#restaurants h1 {
    text-align: center;
    font-size: 200%;
    margin: 40px 1px 5px 1px;
    color: #0f8c4e;
}

#restaurants h3 {
    text-align: center;
    margin: 0 1px 40px 1px;
    color: grey;
}


#conteneurImagesRestaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagesRestaurant {
    position: relative;
    height: 350px;
    width: 450px;
    margin: 20px 10px 20px 10px;

}

.imagesRestaurant img {
    position: absolute;
    height: 350px;
    width: 450px;
    z-index: 1;
    border-radius: 5px;
}


.imagesRestaurant:nth-child(2n + 1) img {
    border: 10px solid #f1bf11;
}

.imagesRestaurant:nth-child(2n + 0) img {
    border: 10px solid #0f8c4e;
}

.imagesRestaurant:nth-child(2n + 1) img:hover {
    box-shadow: 4px 4px 4px DarkSlateGray;
}

.imagesRestaurant:nth-child(2n + 0) img:hover {
    box-shadow: 4px 4px 4px DarkSlateGray;
}


.imagesRestaurant div {
    position: absolute;
    width: 100%;
    font-size: 130%;
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: bold;
    top: -5px;

}

.imagesRestaurant span {
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

.imagesRestaurant:nth-child(2n + 1) span {
    background-color: #f1bf11;
}

.imagesRestaurant:nth-child(2n + 0) span {
    background-color: #0f8c4e;
}

@media screen and (max-width: 525px) {
    #restaurants h1 {
        font-size: 150%;
    }
    #restaurants h3 {
        font-size: 100%;
    }
    .imagesRestaurant img {
        display: none;
    }
    .imagesRestaurant {
        height: 50px;
        margin: 0;
    }
    .imagesRestaurant div {
        position: relative;
        top: 0;
    }
    .imagesRestaurant span {
        display: block;
        margin: auto;
        width: 95%;
    }

}

/* Section 4 : Initialisation de la map + infos restaurants */

#blockInfoRestaurants {
    text-align: center;
    color: #006230;
}

#blockInfoRestaurants article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#infoDuRestaurant {
    display: none;
    position: relative;
    min-height: 185px;
    height: 100%;
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    margin: 0 0 5px 0;
    border: 1px solid black;
    border-radius: 5px;

}

#fondBlancInfoRestaurant {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;

}

#textInfoRestaurant {
    position: relative;
    z-index: 2;

}

#infoDuRestaurant p {
    font-weight: bold;


}

#infoDuRestaurant span {
    font-weight: normal;

}

#infoDuRestaurant #villeMarqueur {
    font-size: 120%;
    font-weight: bold;
}

#map {
    height: 500px;
    width: 100%;
    max-width: 700px;
    min-width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
}

@media screen and (max-width: 1222px) {
    #map {
        height: 350px;
        order: 2;
    }
    #infoDuRestaurant {
        order: 1;
    }
}
